div#clima{
	height: 30;
	background-color: black;
}

h4#ti-clima{
	color: white;
}

h5#con-clima{
	margin: 30px;
}
div#img-clima{
	margin: 30px;
	margin-top: 5px;
	float:  left;
}

div#gen-clima{
	width: 1700px;
	height: 900px;
	margin: auto;
}
