*{
	margin: 0px;
	padding: 0px;
}

div#ti-como{
	height: 30px;
	background-color: black;
}

h4#ti{
	color:white;
}

div#gen-como{
	margin: auto;
	width: 1700px;
	height: 1500px;
}

div#aerolinea{
	margin-top: 50px;
	width: 850px;
	height: 400px;
	background-color: #F8F9F9;
	float: left;
}
div#autobus{
	margin-top: 50px;
	width: 850px;
	height: 400px;
	background-color: #F8F9F9;
	float: left;
}

div#terrestre{
	margin-top: 50px;
	width: 850px;
	height: 400px;
	background-color: #F8F9F9;
	float: left;
}

h3#t-a{
	margin:20px;
}
p#p-a{
	margin: 20px;
	margin-top: 50px;
}
div#img{
	float: left;
	margin:50px;
	margin-left: 80px;
}

div#img-2{
	float: left;
	margin-top: 50px;
	margin-left: 80px;
}
