<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sitecategory.name %>
</p>

<%= link_to 'Edit', edit_sitecategory_path(@sitecategory) %> |
<%= link_to 'Back', sitecategories_path %>
